.App {
  background-color: #282c34;
  min-height: 100vh;
  padding: 50px 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 28px;
  font-weight: 700;
}

.App-content {
  max-width: 800px;
  margin: 10px auto 0;
}

.App-orderItem:not(:first-of-type) {
  margin-top: 25px;
}

.App-add-orderItem {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .App-add-orderItem {
    text-align: left;
  }
}

.App-addIcon {
  margin-top: 10px;
  font-size: 40px;
  fill: greenyellow;
  cursor: pointer;
}
